label,
option {
    display: block;
    margin: 10px;

}

h1 {
    color: blue;
    text-align: center;
    word-spacing: 30px;
    font-size: 55px;
}

.tagline {
    text-align: center;
    color: blueviolet;
    margin-top: 100px;
}

h3.adoptionfee {
    text-align: center;
}

h3.workinghour {
    text-align: center;
    margin-top: 20px;
    ;
}


figure {
    margin: 30px auto;
    font-style: italic;
    text-align: center;
    caption-side: bottom;

}


p.workinghour {
    font-size: 25px;
    text-align: center;
}


nav {
    text-decoration: none;
    text-align: center;
    padding: auto 10px;
    font-size: 20px;
}

li {
    display: inline;
    margin: 0 auto;
}

a {
    margin: 10px 15px;
}

nav {
    background-color: rgb(210, 235, 226);
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

div.fee {
    text-align: center;
    font-size: 25px;
}

td {
    border: solid black 1px;
}

table {
    margin: auto;
}

.table1 {
    width: 10%;
    margin: 5% auto;
    border: dotted rgb(88, 128, 215) 10px;
    margin-bottom: 10px;
}

.plzcontact {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
    ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#email-div,
#phone-div {
    display: none;
}


/*Gallery*/

div#gallery {
    text-align: center;
    margin: 50px auto;

}


div.gallery {
    display: inline-block;
    padding: 10px 0;
    position: relative;

}

#gallery img {
    width: 500px;
    height: 300px;
    margin-right: 100px;
    ;
    margin-bottom: 0%;
    position: relative;
    cursor: pointer;

}

.caption {
    font-size: xx-large;
    background-color: antiquewhite;
    position: relative;
    bottom: 80px;
    right: 35px;

}


.description {
    display: block;
    position: relative;
    bottom: 200px;
    left: 50px;
    background-color: rgb(242, 190, 17);
    width: 400px;
    opacity: 0;
    cursor: pointer;


}





.gallery:hover .description {
    opacity: 0.8;

}

/*infomation box*/

#infomationBox {
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 450px;
    bottom: 250px;
}

.infobox {
    background-color: rgb(133, 144, 199);
    opacity: 0.8;
    width: 500px;
    position: absolute;
    bottom: 50%;
    visibility: hidden;
    border-style: groove;
}


.showinfo {
    visibility: visible;
}


button {
    cursor: pointer;
    margin-bottom: 10px;
}

/*lightbox*/
.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}